    <header>
        <h2>Message Board</h2>
        <% if (locals.isUserLogin && isUserLogin) { %>
            <div>
                <ul>
                    <li>Connected as <span style="font-weight: 600;" =><%= user.username %></span></li>
                    <li><a href="/">Board</a></li>
                    <li><a href="/log-out">Log out</a></li>
                </ul>
            </div>
        <% } else { %>
        <div>
            <ul>
                <li><a href="/">Board</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/log-in">Log In</a></li>
            </ul>
        </div>
        <% } %>
    </header>