* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    padding: 2rem 6rem;
    align-items: center;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 0.4rem 0.9rem;
}

a::before {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  content: '';
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.5s;
}
a:hover::before {
  transform: scaleY(1);
}

.errors ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    
}

.errors li {
    list-style: none;
    width: max-content;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: pink;
    color: rgb(161, 0, 0);
}

header {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 0rem 2rem;
    align-items: center;
    background-color: rgb(252, 238, 222);
    border-radius: 10px;
    /* box-shadow: -1px 2px 5px lightgrey; */
}

header li{
    list-style: none;
    /* padding: 0.2rem 0.8rem; */
}

header ul {
    display: flex;
    gap: 0.8rem;
}

header > :last-child {
    margin-left: auto;
}

.container {
    flex:8;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.messages.container {
    flex: 1;
    width: 100%;
    padding: 1rem 0rem;
    gap: 1rem;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}

.message-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
}

.message > :nth-child(2) {
    margin-top: 0.6rem;
}

.container.form{
    display: flex;
    width: 100%;
    flex: 8;
    align-items: center;
    justify-content: start;
}

.header.container {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex:1;
}

.add-comment {
    width: 100%;
}

.add-user, 
.login-user,
.comment-form  {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-user > div, 
.login-user > div,
.comment-form > div {
    display:flex;
    width: 20%;
    flex-direction: column;
    gap: 0.5rem;
}

.add-user input, 
.login-user input{
    height: 1.5rem;
}

textarea {
  width: 300px;
  height: 50px;
}

.buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-user button,
.login-user button,
.comment-form button {
    width: max(5rem, 40%);
    padding:0.3rem 0.7rem;
}

.add-user button:hover, 
.login-user button:hover,
.comment-form button:hover{
    cursor: pointer;
}

